body{
	color:black;
	background-color:white;
	font-style: Arial; 
}

h1{
	font-style: Arial;
	color:blue;
	font-size:22px;
	
}	
p{
	color:black;
	font-size: 14px;               	
} 
h2{
	color:red;
	background-color: brown;
	text-align:center
	
}
.p2 {
	background-color: gray;
	color:purple;
	text-align:center
	
	
}

.special{
	color:black;
	font-size: 22px;
	
	
}

