body{
	color:black;
	background-color:white;
	font-style: Arial; 
}

h1{
	border:solid;
	font-style: Arial;
	color:blue;
	font-size:22px;
	
}	
p{
	color:black;
	font-size: 14px;               	
} 
h2{
	color:red;
	background-color: brown;
	text-align:center
}
h3{
	text-align:right;
}
.p3{
	text-align:right;
	
}
.p2 {
	background-color: gray;
	color:purple;
	text-align:center
}

.special{
	border:solid;
	color:black;
	font-size: 14px;
}
a {
text-decoration: none;
}
